/* General CSS for by-category pages */

p {
  margin: 0;
}
h3 {
  margin-top: 10.5px;
}
blockquote {
  font-size: 14px;
}
blockquote > p:not(:last-child) {
  margin-bottom: 10px;
}
.scrollable-menu {
  height: auto;
  max-height: 275px;
  overflow-x: hidden;
}
h2>div {
  display: inline-block;
  vertical-align: middle;
}
.bug-fixes + ul, ul + ul {
  margin-bottom: 0;
}
footer>div.container>div.row>div.col-sm-6>p:first-of-type {
  margin-bottom: 10.5px;
}
a.permalink {
  color: #95a5a6;
}

/* Ability/Talent tabs for hero pages */

ul.nav-tabs {
  display: inline-block;
  vertical-align: bottom;
}
div.tab-content {
  font-size: 14px;
}

/* Table and table-in-panel CSS for hero rework talents */

table {
  border-collapse: collapse !important;
}
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 21px;
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ecf0f1;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ecf0f1;
}
table > thead:first-child > tr:first-child > th, table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 2px solid #ecf0f1;
}
table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table > tbody > tr:hover {
  background-color: #ecf0f1;
}
.panel > table, .panel > .panel-collapse > table {
  margin-bottom: 0;
}
.panel > table:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel > table:first-child > thead:first-child > tr:first-child, .panel > table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > table:first-child > thead:first-child > tr:first-child td:first-child, .panel > table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > table:first-child > thead:first-child > tr:first-child th:first-child, .panel > table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel > table:first-child > thead:first-child > tr:first-child td:last-child, .panel > table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > table:first-child > thead:first-child > tr:first-child th:last-child, .panel > table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel > table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > table:last-child > tbody:last-child > tr:last-child, .panel > table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.panel > table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel > table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel > .panel-body + table, .panel > table + .panel-body {
  border-top: 1px solid #ecf0f1;
}
.panel > table > tbody:first-child > tr:first-child th, .panel > table > tbody:first-child > tr:first-child td {
  border-top: 0;
}

/* Mobile-friendly lists */

.panel-body ul { 
  padding-left: 20px; 
  margin-left: 0px; 
}

@media (min-width: 768px) {
  .panel-body ul { padding-left: 40px; 
    margin-left: 0px; 
  }
}