.cell-center {
  text-align: center;
}

.hero-heading {
  width: 40%;
}

.tab-heading {
  width: 20%;
}

.sort {
  color: #2c3e50;
}

table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;
}

.search {
  width: 40%;
}

footer {
  background-color: #f9f9f9;
}