/* Sprite CSS: Mobile-first so medium == small*/
.small-hero-one, .medium-hero-one { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-one-v20170516.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-two, .medium-hero-two { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-two-v20170516.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-three, .medium-hero-three { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-three-v20170516.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-four, .medium-hero-four { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-four-v20170516.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-five, .medium-hero-five { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-five-v20170516.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-six, .medium-hero-six { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-six-v20170516.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-seven, .medium-hero-seven { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-seven-v20170808.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-eight, .medium-hero-eight { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-eight-v20180612.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-nine, .medium-hero-nine { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-nine-v20180807.png") 0 0 no-repeat; background-size: 44px 44.47826091px; height: 44px; width: 44px; }
.small-battleground, .medium-battleground {
  background:url("//heroespatchnotes.com/images/sprite/bg-sprite-v20180612.png") 0 0 no-repeat; 
  background-size: 50.6px 814.0px; width: 44px; height: 44px;
}
.small-wide-battleground {
  background:url("//heroespatchnotes.com/images/sprite/bg-sprite-v20180612.png") 0 0 no-repeat; 
  background-size: 50.6px 814.0px; width: 50.6px; height: 44px;
}

.small-abathur, .medium-abathur{ background-position: 0px -143.478261px; }
.hero-abathur{ background: url("//heroespatchnotes.com/images/hero/abathur.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-alarak, .medium-alarak{ background-position: 0px -286.956522px; }
.hero-alarak{ background: url("//heroespatchnotes.com/images/hero/alarak.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-alexstrasza, .medium-alexstrasza{ background-position: 0px -143.478261px; }
.hero-alexstrasza{ background: url("//heroespatchnotes.com/images/hero/alexstrasza.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-ana, .medium-ana{ background-position: 0px -47.826087px; }
.hero-ana{ background: url("//heroespatchnotes.com/images/hero/ana.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-anubarak, .medium-anubarak{ background-position: 0px -47.826087px; }
.hero-anubarak{ background: url("//heroespatchnotes.com/images/hero/anubarak.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-artanis, .medium-artanis{ background-position: 0px -47.826087px; }
.hero-artanis{ background: url("//heroespatchnotes.com/images/hero/artanis.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-arthas, .medium-arthas{ background-position: 0px -95.652174px; }
.hero-arthas{ background: url("//heroespatchnotes.com/images/hero/arthas.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-auriel, .medium-auriel{ background-position: 0px -191.304348px; }
.hero-auriel{ background: url("//heroespatchnotes.com/images/hero/auriel.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-azmodan, .medium-azmodan{ background-position: 0px -95.652174px; }
.hero-azmodan{ background: url("//heroespatchnotes.com/images/hero/azmodan.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-blaze, .medium-blaze{ background-position: 0px -239.130435px; }
.hero-blaze{ background: url("//heroespatchnotes.com/images/hero/blaze.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-brightwing, .medium-brightwing{ background-position: 0px -143.478261px; }
.hero-brightwing{ background: url("//heroespatchnotes.com/images/hero/brightwing.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-butcher, .medium-butcher{ background-position: 0px -334.782609px; }
.hero-butcher{ background: url("//heroespatchnotes.com/images/hero/butcher.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-cassia, .medium-cassia{ background-position: 0px -191.304348px; }
.hero-cassia{ background: url("//heroespatchnotes.com/images/hero/cassia.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-chen, .medium-chen{ background-position: 0px -191.304348px; }
.hero-chen{ background: url("//heroespatchnotes.com/images/hero/chen.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-cho, .medium-cho{ background-position: 0px -143.478261px; }
.hero-cho{ background: url("//heroespatchnotes.com/images/hero/cho.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-chromie, .medium-chromie{ background-position: 0px -47.826087px; }
.hero-chromie{ background: url("//heroespatchnotes.com/images/hero/chromie.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-dva, .medium-dva{ background-position: 0px -286.956522px; }
.hero-dva{ background: url("//heroespatchnotes.com/images/hero/dva.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-deckard, .medium-deckard{ background-position: 0px -382.608696px; }
.hero-deckard{ background: url("//heroespatchnotes.com/images/hero/deckard.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-dehaka, .medium-dehaka{ background-position: 0px -430.434783px; }
.hero-dehaka{ background: url("//heroespatchnotes.com/images/hero/dehaka.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-diablo, .medium-diablo{ background-position: 0px -239.130435px; }
.hero-diablo{ background: url("//heroespatchnotes.com/images/hero/diablo.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-etc, .medium-etc{ background-position: 0px -95.652174px; }
.hero-etc{ background: url("//heroespatchnotes.com/images/hero/etc.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-falstad, .medium-falstad{ background-position: 0px -286.956522px; }
.hero-falstad{ background: url("//heroespatchnotes.com/images/hero/falstad.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-fenix, .medium-fenix{ background-position: 0px -334.782609px; }
.hero-fenix{ background: url("//heroespatchnotes.com/images/hero/fenix.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-gall, .medium-gall{ background-position: 0px -191.304348px; }
.hero-gall{ background: url("//heroespatchnotes.com/images/hero/gall.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-garrosh, .medium-garrosh{ background-position: 0px -430.434783px; }
.hero-garrosh{ background: url("//heroespatchnotes.com/images/hero/garrosh.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-gazlowe, .medium-gazlowe{ background-position: 0px 0.0px; }
.hero-gazlowe{ background: url("//heroespatchnotes.com/images/hero/gazlowe.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-genji, .medium-genji{ background-position: 0px -239.130435px; }
.hero-genji{ background: url("//heroespatchnotes.com/images/hero/genji.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-greymane, .medium-greymane{ background-position: 0px -286.956522px; }
.hero-greymane{ background: url("//heroespatchnotes.com/images/hero/greymane.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-guldan, .medium-guldan{ background-position: 0px -143.478261px; }
.hero-guldan{ background: url("//heroespatchnotes.com/images/hero/guldan.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-hanzo, .medium-hanzo{ background-position: 0px -191.304348px; }
.hero-hanzo{ background: url("//heroespatchnotes.com/images/hero/hanzo.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-illidan, .medium-illidan{ background-position: 0px -334.782609px; }
.hero-illidan{ background: url("//heroespatchnotes.com/images/hero/illidan.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-jaina, .medium-jaina{ background-position: 0px -382.608696px; }
.hero-jaina{ background: url("//heroespatchnotes.com/images/hero/jaina.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-johanna, .medium-johanna{ background-position: 0px -286.956522px; }
.hero-johanna{ background: url("//heroespatchnotes.com/images/hero/johanna.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-junkrat, .medium-junkrat{ background-position: 0px -95.652174px; }
.hero-junkrat{ background: url("//heroespatchnotes.com/images/hero/junkrat.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-kaelthas, .medium-kaelthas{ background-position: 0px -430.434783px; }
.hero-kaelthas{ background: url("//heroespatchnotes.com/images/hero/kaelthas.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-kelthuzad, .medium-kelthuzad{ background-position: 0px 0.0px; }
.hero-kelthuzad{ background: url("//heroespatchnotes.com/images/hero/kelthuzad.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-kerrigan, .medium-kerrigan{ background-position: 0px 0.0px; }
.hero-kerrigan{ background: url("//heroespatchnotes.com/images/hero/kerrigan.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-kharazim, .medium-kharazim{ background-position: 0px -430.434783px; }
.hero-kharazim{ background: url("//heroespatchnotes.com/images/hero/kharazim.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-leoric, .medium-leoric{ background-position: 0px -382.608696px; }
.hero-leoric{ background: url("//heroespatchnotes.com/images/hero/leoric.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-lili, .medium-lili{ background-position: 0px -47.826087px; }
.hero-lili{ background: url("//heroespatchnotes.com/images/hero/lili.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-liming, .medium-liming{ background-position: 0px -334.782609px; }
.hero-liming{ background: url("//heroespatchnotes.com/images/hero/liming.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-ltmorales, .medium-ltmorales{ background-position: 0px -95.652174px; }
.hero-ltmorales{ background: url("//heroespatchnotes.com/images/hero/ltmorales.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-lucio, .medium-lucio{ background-position: 0px -95.652174px; }
.hero-lucio{ background: url("//heroespatchnotes.com/images/hero/lucio.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-lunara, .medium-lunara{ background-position: 0px -239.130435px; }
.hero-lunara{ background: url("//heroespatchnotes.com/images/hero/lunara.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-maiev, .medium-maiev{ background-position: 0px -286.956522px; }
.hero-maiev{ background: url("//heroespatchnotes.com/images/hero/maiev.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-malfurion, .medium-malfurion{ background-position: 0px -430.434783px; }
.hero-malfurion{ background: url("//heroespatchnotes.com/images/hero/malfurion.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-malthael, .medium-malthael{ background-position: 0px -334.782609px; }
.hero-malthael{ background: url("//heroespatchnotes.com/images/hero/malthael.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-medivh, .medium-medivh{ background-position: 0px -95.652174px; }
.hero-medivh{ background: url("//heroespatchnotes.com/images/hero/medivh.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-muradin, .medium-muradin{ background-position: 0px -143.478261px; }
.hero-muradin{ background: url("//heroespatchnotes.com/images/hero/muradin.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-murky, .medium-murky{ background-position: 0px -191.304348px; }
.hero-murky{ background: url("//heroespatchnotes.com/images/hero/murky.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-nazeebo, .medium-nazeebo{ background-position: 0px -239.130435px; }
.hero-nazeebo{ background: url("//heroespatchnotes.com/images/hero/nazeebo.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-nova, .medium-nova{ background-position: 0px -286.956522px; }
.hero-nova{ background: url("//heroespatchnotes.com/images/hero/nova.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-probius, .medium-probius{ background-position: 0px -143.478261px; }
.hero-probius{ background: url("//heroespatchnotes.com/images/hero/probius.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-ragnaros, .medium-ragnaros{ background-position: 0px -430.434783px; }
.hero-ragnaros{ background: url("//heroespatchnotes.com/images/hero/ragnaros.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-raynor, .medium-raynor{ background-position: 0px -334.782609px; }
.hero-raynor{ background: url("//heroespatchnotes.com/images/hero/raynor.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-rehgar, .medium-rehgar{ background-position: 0px -382.608696px; }
.hero-rehgar{ background: url("//heroespatchnotes.com/images/hero/rehgar.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-rexxar, .medium-rexxar{ background-position: 0px 0.0px; }
.hero-rexxar{ background: url("//heroespatchnotes.com/images/hero/rexxar.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-samuro, .medium-samuro{ background-position: 0px -334.782609px; }
.hero-samuro{ background: url("//heroespatchnotes.com/images/hero/samuro.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-sgthammer, .medium-sgthammer{ background-position: 0px -382.608696px; }
.hero-sgthammer{ background: url("//heroespatchnotes.com/images/hero/sgthammer.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-sonya, .medium-sonya{ background-position: 0px -430.434783px; }
.hero-sonya{ background: url("//heroespatchnotes.com/images/hero/sonya.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-stitches, .medium-stitches{ background-position: 0px 0.0px; }
.hero-stitches{ background: url("//heroespatchnotes.com/images/hero/stitches.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-stukov, .medium-stukov{ background-position: 0px -382.608696px; }
.hero-stukov{ background: url("//heroespatchnotes.com/images/hero/stukov.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-sylvanas, .medium-sylvanas{ background-position: 0px -47.826087px; }
.hero-sylvanas{ background: url("//heroespatchnotes.com/images/hero/sylvanas.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-tassadar, .medium-tassadar{ background-position: 0px -191.304348px; }
.hero-tassadar{ background: url("//heroespatchnotes.com/images/hero/tassadar.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-thelostvikings, .medium-thelostvikings{ background-position: 0px 0.0px; }
.hero-thelostvikings{ background: url("//heroespatchnotes.com/images/hero/thelostvikings.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-thrall, .medium-thrall{ background-position: 0px -334.782609px; }
.hero-thrall{ background: url("//heroespatchnotes.com/images/hero/thrall.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-tracer, .medium-tracer{ background-position: 0px 0.0px; }
.hero-tracer{ background: url("//heroespatchnotes.com/images/hero/tracer.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-tychus, .medium-tychus{ background-position: 0px -47.826087px; }
.hero-tychus{ background: url("//heroespatchnotes.com/images/hero/tychus.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-tyrael, .medium-tyrael{ background-position: 0px -95.652174px; }
.hero-tyrael{ background: url("//heroespatchnotes.com/images/hero/tyrael.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-tyrande, .medium-tyrande{ background-position: 0px -239.130435px; }
.hero-tyrande{ background: url("//heroespatchnotes.com/images/hero/tyrande.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-uther, .medium-uther{ background-position: 0px -143.478261px; }
.hero-uther{ background: url("//heroespatchnotes.com/images/hero/uther.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-valeera, .medium-valeera{ background-position: 0px -47.826087px; }
.hero-valeera{ background: url("//heroespatchnotes.com/images/hero/valeera.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-valla, .medium-valla{ background-position: 0px -191.304348px; }
.hero-valla{ background: url("//heroespatchnotes.com/images/hero/valla.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-varian, .medium-varian{ background-position: 0px -382.608696px; }
.hero-varian{ background: url("//heroespatchnotes.com/images/hero/varian.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-whitemane, .medium-whitemane{ background-position: 0px 0.0px; }
.hero-whitemane{ background: url("//heroespatchnotes.com/images/hero/whitemane.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-xul, .medium-xul{ background-position: 0px -382.608696px; }
.hero-xul{ background: url("//heroespatchnotes.com/images/hero/xul.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-yrel, .medium-yrel{ background-position: 0px -430.434783px; }
.hero-yrel{ background: url("//heroespatchnotes.com/images/hero/yrel.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-zagara, .medium-zagara{ background-position: 0px -239.130435px; }
.hero-zagara{ background: url("//heroespatchnotes.com/images/hero/zagara.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-zarya, .medium-zarya{ background-position: 0px -239.130435px; }
.hero-zarya{ background: url("//heroespatchnotes.com/images/hero/zarya.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-zeratul, .medium-zeratul{ background-position: 0px -286.956522px; }
.hero-zeratul{ background: url("//heroespatchnotes.com/images/hero/zeratul.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-zuljin, .medium-zuljin{ background-position: 0px 0.0px; }
.hero-zuljin{ background: url("//heroespatchnotes.com/images/hero/zuljin.png") 0 0 no-repeat; background-size: 92px 93px; height: 93px; width: 92px; }
.small-alteracpass, .medium-alteracpass{ background-position: -4px -770.0px; }
.small-wide-alteracpass{ background-position: 0px -770.0px; }
.bg-alteracpass { background:url("//heroespatchnotes.com/images/battleground/alteracpass.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-battlefieldofeternity, .medium-battlefieldofeternity{ background-position: -4px -275.0px; }
.small-wide-battlefieldofeternity{ background-position: 0px -275.0px; }
.bg-battlefieldofeternity { background:url("//heroespatchnotes.com/images/battleground/battlefieldofeternity.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-blackheartsbay, .medium-blackheartsbay{ background-position: -4px -55.0px; }
.small-wide-blackheartsbay{ background-position: 0px -55.0px; }
.bg-blackheartsbay { background:url("//heroespatchnotes.com/images/battleground/blackheartsbay.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-braxisholdout, .medium-braxisholdout{ background-position: -4px -440.0px; }
.small-wide-braxisholdout{ background-position: 0px -440.0px; }
.bg-braxisholdout { background:url("//heroespatchnotes.com/images/battleground/braxisholdout.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-cursedhollow, .medium-cursedhollow{ background-position: -4px -165.0px; }
.small-wide-cursedhollow{ background-position: 0px -165.0px; }
.bg-cursedhollow { background:url("//heroespatchnotes.com/images/battleground/cursedhollow.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-dragonshire, .medium-dragonshire{ background-position: -4px -220.0px; }
.small-wide-dragonshire{ background-position: 0px -220.0px; }
.bg-dragonshire { background:url("//heroespatchnotes.com/images/battleground/dragonshire.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-gardenofterror, .medium-gardenofterror{ background-position: -4px -110.0px; }
.small-wide-gardenofterror{ background-position: 0px -110.0px; }
.bg-gardenofterror { background:url("//heroespatchnotes.com/images/battleground/gardenofterror.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-hanamura, .medium-hanamura{ background-position: -4px -605.0px; }
.small-wide-hanamura{ background-position: 0px -605.0px; }
.bg-hanamura { background:url("//heroespatchnotes.com/images/battleground/hanamura.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-hauntedmines, .medium-hauntedmines{ background-position: -4px -550.0px; }
.small-wide-hauntedmines{ background-position: 0px -550.0px; }
.bg-hauntedmines { background:url("//heroespatchnotes.com/images/battleground/hauntedmines.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-infernalshrines, .medium-infernalshrines{ background-position: -4px -330.0px; }
.small-wide-infernalshrines{ background-position: 0px -330.0px; }
.bg-infernalshrines { background:url("//heroespatchnotes.com/images/battleground/infernalshrines.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-lostcavern, .medium-lostcavern{ background-position: -4px -660.0px; }
.small-wide-lostcavern{ background-position: 0px -660.0px; }
.bg-lostcavern { background:url("//heroespatchnotes.com/images/battleground/lostcavern.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-skytemple, .medium-skytemple{ background-position: -4px 0.0px; }
.small-wide-skytemple{ background-position: 0px 0.0px; }
.bg-skytemple { background:url("//heroespatchnotes.com/images/battleground/skytemple.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-tombofthespiderqueen, .medium-tombofthespiderqueen{ background-position: -4px -660.0px; }
.small-wide-tombofthespiderqueen{ background-position: 0px -660.0px; }
.bg-tombofthespiderqueen { background:url("//heroespatchnotes.com/images/battleground/tombofthespiderqueen.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-towersofdoom, .medium-towersofdoom{ background-position: -4px -385.0px; }
.small-wide-towersofdoom{ background-position: 0px -385.0px; }
.bg-towersofdoom { background:url("//heroespatchnotes.com/images/battleground/towersofdoom.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-volskayafoundry, .medium-volskayafoundry{ background-position: -4px -715.0px; }
.small-wide-volskayafoundry{ background-position: 0px -715.0px; }
.bg-volskayafoundry { background:url("//heroespatchnotes.com/images/battleground/volskayafoundry.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }
.small-warheadjunction, .medium-warheadjunction{ background-position: -4px -495.0px; }
.small-wide-warheadjunction{ background-position: 0px -495.0px; }
.bg-warheadjunction { background:url("//heroespatchnotes.com/images/battleground/warheadjunction.jpg") 0px 0px no-repeat; background-size: 92px 80px; width: 92px; height: 80px; }

#abathur{ background: url("//heroespatchnotes.com/images/hero/abathur.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#alarak{ background: url("//heroespatchnotes.com/images/hero/alarak.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#alexstrasza{ background: url("//heroespatchnotes.com/images/hero/alexstrasza.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#ana{ background: url("//heroespatchnotes.com/images/hero/ana.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#anubarak{ background: url("//heroespatchnotes.com/images/hero/anubarak.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#artanis{ background: url("//heroespatchnotes.com/images/hero/artanis.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#arthas{ background: url("//heroespatchnotes.com/images/hero/arthas.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#auriel{ background: url("//heroespatchnotes.com/images/hero/auriel.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#azmodan{ background: url("//heroespatchnotes.com/images/hero/azmodan.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#blaze{ background: url("//heroespatchnotes.com/images/hero/blaze.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#brightwing{ background: url("//heroespatchnotes.com/images/hero/brightwing.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#the-butcher, #butcher{ background: url("//heroespatchnotes.com/images/hero/butcher.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#cassia{ background: url("//heroespatchnotes.com/images/hero/cassia.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#chen{ background: url("//heroespatchnotes.com/images/hero/chen.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#cho{ background: url("//heroespatchnotes.com/images/hero/cho.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#chromie{ background: url("//heroespatchnotes.com/images/hero/chromie.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#dva{ background: url("//heroespatchnotes.com/images/hero/dva.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#deckard{ background: url("//heroespatchnotes.com/images/hero/deckard.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#dehaka{ background: url("//heroespatchnotes.com/images/hero/dehaka.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#diablo{ background: url("//heroespatchnotes.com/images/hero/diablo.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#etc{ background: url("//heroespatchnotes.com/images/hero/etc.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#falstad{ background: url("//heroespatchnotes.com/images/hero/falstad.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#fenix{ background: url("//heroespatchnotes.com/images/hero/fenix.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#gall{ background: url("//heroespatchnotes.com/images/hero/gall.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#garrosh{ background: url("//heroespatchnotes.com/images/hero/garrosh.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#gazlowe{ background: url("//heroespatchnotes.com/images/hero/gazlowe.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#genji{ background: url("//heroespatchnotes.com/images/hero/genji.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#greymane{ background: url("//heroespatchnotes.com/images/hero/greymane.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#guldan{ background: url("//heroespatchnotes.com/images/hero/guldan.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#hanzo{ background: url("//heroespatchnotes.com/images/hero/hanzo.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#illidan{ background: url("//heroespatchnotes.com/images/hero/illidan.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#jaina{ background: url("//heroespatchnotes.com/images/hero/jaina.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#johanna{ background: url("//heroespatchnotes.com/images/hero/johanna.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#junkrat{ background: url("//heroespatchnotes.com/images/hero/junkrat.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#kaelthas{ background: url("//heroespatchnotes.com/images/hero/kaelthas.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#kelthuzad{ background: url("//heroespatchnotes.com/images/hero/kelthuzad.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#kerrigan{ background: url("//heroespatchnotes.com/images/hero/kerrigan.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#kharazim{ background: url("//heroespatchnotes.com/images/hero/kharazim.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#leoric{ background: url("//heroespatchnotes.com/images/hero/leoric.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#li-li, #lili{ background: url("//heroespatchnotes.com/images/hero/lili.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#li-ming, #liming{ background: url("//heroespatchnotes.com/images/hero/liming.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#lt-morales, #ltmorales{ background: url("//heroespatchnotes.com/images/hero/ltmorales.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#lucio{ background: url("//heroespatchnotes.com/images/hero/lucio.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#lunara{ background: url("//heroespatchnotes.com/images/hero/lunara.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#maiev{ background: url("//heroespatchnotes.com/images/hero/maiev.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#malfurion{ background: url("//heroespatchnotes.com/images/hero/malfurion.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#malthael{ background: url("//heroespatchnotes.com/images/hero/malthael.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#medivh{ background: url("//heroespatchnotes.com/images/hero/medivh.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#muradin{ background: url("//heroespatchnotes.com/images/hero/muradin.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#murky{ background: url("//heroespatchnotes.com/images/hero/murky.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#nazeebo{ background: url("//heroespatchnotes.com/images/hero/nazeebo.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#nova{ background: url("//heroespatchnotes.com/images/hero/nova.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#probius{ background: url("//heroespatchnotes.com/images/hero/probius.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#ragnaros{ background: url("//heroespatchnotes.com/images/hero/ragnaros.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#raynor{ background: url("//heroespatchnotes.com/images/hero/raynor.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#rehgar{ background: url("//heroespatchnotes.com/images/hero/rehgar.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#rexxar{ background: url("//heroespatchnotes.com/images/hero/rexxar.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#samuro{ background: url("//heroespatchnotes.com/images/hero/samuro.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#sgt-hammer, #sgthammer{ background: url("//heroespatchnotes.com/images/hero/sgthammer.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#sonya{ background: url("//heroespatchnotes.com/images/hero/sonya.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#stitches{ background: url("//heroespatchnotes.com/images/hero/stitches.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#stukov{ background: url("//heroespatchnotes.com/images/hero/stukov.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#sylvanas{ background: url("//heroespatchnotes.com/images/hero/sylvanas.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#tassadar{ background: url("//heroespatchnotes.com/images/hero/tassadar.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#the-lost-vikings, #thelostvikings{ background: url("//heroespatchnotes.com/images/hero/thelostvikings.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#thrall{ background: url("//heroespatchnotes.com/images/hero/thrall.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#tracer{ background: url("//heroespatchnotes.com/images/hero/tracer.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#tychus{ background: url("//heroespatchnotes.com/images/hero/tychus.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#tyrael{ background: url("//heroespatchnotes.com/images/hero/tyrael.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#tyrande{ background: url("//heroespatchnotes.com/images/hero/tyrande.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#uther{ background: url("//heroespatchnotes.com/images/hero/uther.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#valeera{ background: url("//heroespatchnotes.com/images/hero/valeera.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#valla{ background: url("//heroespatchnotes.com/images/hero/valla.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#varian{ background: url("//heroespatchnotes.com/images/hero/varian.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#whitemane{ background: url("//heroespatchnotes.com/images/hero/whitemane.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#xul{ background: url("//heroespatchnotes.com/images/hero/xul.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#yrel{ background: url("//heroespatchnotes.com/images/hero/yrel.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#zagara{ background: url("//heroespatchnotes.com/images/hero/zagara.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#zarya{ background: url("//heroespatchnotes.com/images/hero/zarya.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#zeratul{ background: url("//heroespatchnotes.com/images/hero/zeratul.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#zuljin{ background: url("//heroespatchnotes.com/images/hero/zuljin.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }

.generic-tal { background: url("//res.cloudinary.com/heroespatches/image/upload/v1483424541/generic-tal.png") 0px 0px no-repeat; background-size: 77px 77px; height: 77px; width: 77px; }

@media (min-width: 360px) {
  .medium-hero-one { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-one-v20170516.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-two { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-two-v20170516.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-three { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-three-v20170516.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-four { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-four-v20170516.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-five { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-five-v20170516.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-six { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-six-v20170516.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-seven { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-seven-v20170808.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-eight { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-eight-v20180612.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-nine { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-nine-v20180807.png") 0 0 no-repeat; background-size: 60px 60.652173909px; height: 60px; width: 60px; }
  .medium-battleground { 
    background-size: 69px 1110.0px; width: 60px; height: 60px; 
  }

  .medium-abathur{ background-position: 0px -195.6521739px; }
  .medium-alarak{ background-position: 0px -391.3043478px; }
  .medium-alexstrasza{ background-position: 0px -195.6521739px; }
  .medium-ana{ background-position: 0px -65.2173913px; }
  .medium-anubarak{ background-position: 0px -65.2173913px; }
  .medium-artanis{ background-position: 0px -65.2173913px; }
  .medium-arthas{ background-position: 0px -130.4347826px; }
  .medium-auriel{ background-position: 0px -260.8695652px; }
  .medium-azmodan{ background-position: 0px -130.4347826px; }
  .medium-blaze{ background-position: 0px -326.0869565px; }
  .medium-brightwing{ background-position: 0px -195.6521739px; }
  .medium-butcher{ background-position: 0px -456.5217391px; }
  .medium-cassia{ background-position: 0px -260.8695652px; }
  .medium-chen{ background-position: 0px -260.8695652px; }
  .medium-cho{ background-position: 0px -195.6521739px; }
  .medium-chromie{ background-position: 0px -65.2173913px; }
  .medium-dva{ background-position: 0px -391.3043478px; }
  .medium-deckard{ background-position: 0px -521.7391304px; }
  .medium-dehaka{ background-position: 0px -586.9565217px; }
  .medium-diablo{ background-position: 0px -326.0869565px; }
  .medium-etc{ background-position: 0px -130.4347826px; }
  .medium-falstad{ background-position: 0px -391.3043478px; }
  .medium-fenix{ background-position: 0px -456.5217391px; }
  .medium-gall{ background-position: 0px -260.8695652px; }
  .medium-garrosh{ background-position: 0px -586.9565217px; }
  .medium-gazlowe{ background-position: 0px 0.0px; }
  .medium-genji{ background-position: 0px -326.0869565px; }
  .medium-greymane{ background-position: 0px -391.3043478px; }
  .medium-guldan{ background-position: 0px -195.6521739px; }
  .medium-hanzo{ background-position: 0px -260.8695652px; }
  .medium-illidan{ background-position: 0px -456.5217391px; }
  .medium-jaina{ background-position: 0px -521.7391304px; }
  .medium-johanna{ background-position: 0px -391.3043478px; }
  .medium-junkrat{ background-position: 0px -130.4347826px; }
  .medium-kaelthas{ background-position: 0px -586.9565217px; }
  .medium-kelthuzad{ background-position: 0px 0.0px; }
  .medium-kerrigan{ background-position: 0px 0.0px; }
  .medium-kharazim{ background-position: 0px -586.9565217px; }
  .medium-leoric{ background-position: 0px -521.7391304px; }
  .medium-lili{ background-position: 0px -65.2173913px; }
  .medium-liming{ background-position: 0px -456.5217391px; }
  .medium-ltmorales{ background-position: 0px -130.4347826px; }
  .medium-lucio{ background-position: 0px -130.4347826px; }
  .medium-lunara{ background-position: 0px -326.0869565px; }
  .medium-maiev{ background-position: 0px -391.3043478px; }
  .medium-malfurion{ background-position: 0px -586.9565217px; }
  .medium-malthael{ background-position: 0px -456.5217391px; }
  .medium-medivh{ background-position: 0px -130.4347826px; }
  .medium-muradin{ background-position: 0px -195.6521739px; }
  .medium-murky{ background-position: 0px -260.8695652px; }
  .medium-nazeebo{ background-position: 0px -326.0869565px; }
  .medium-nova{ background-position: 0px -391.3043478px; }
  .medium-probius{ background-position: 0px -195.6521739px; }
  .medium-ragnaros{ background-position: 0px -586.9565217px; }
  .medium-raynor{ background-position: 0px -456.5217391px; }
  .medium-rehgar{ background-position: 0px -521.7391304px; }
  .medium-rexxar{ background-position: 0px 0.0px; }
  .medium-samuro{ background-position: 0px -456.5217391px; }
  .medium-sgthammer{ background-position: 0px -521.7391304px; }
  .medium-sonya{ background-position: 0px -586.9565217px; }
  .medium-stitches{ background-position: 0px 0.0px; }
  .medium-stukov{ background-position: 0px -521.7391304px; }
  .medium-sylvanas{ background-position: 0px -65.2173913px; }
  .medium-tassadar{ background-position: 0px -260.8695652px; }
  .medium-thelostvikings{ background-position: 0px 0.0px; }
  .medium-thrall{ background-position: 0px -456.5217391px; }
  .medium-tracer{ background-position: 0px 0.0px; }
  .medium-tychus{ background-position: 0px -65.2173913px; }
  .medium-tyrael{ background-position: 0px -130.4347826px; }
  .medium-tyrande{ background-position: 0px -326.0869565px; }
  .medium-uther{ background-position: 0px -195.6521739px; }
  .medium-valeera{ background-position: 0px -65.2173913px; }
  .medium-valla{ background-position: 0px -260.8695652px; }
  .medium-varian{ background-position: 0px -521.7391304px; }
  .medium-whitemane{ background-position: 0px 0.0px; }
  .medium-xul{ background-position: 0px -521.7391304px; }
  .medium-yrel{ background-position: 0px -586.9565217px; }
  .medium-zagara{ background-position: 0px -326.0869565px; }
  .medium-zarya{ background-position: 0px -326.0869565px; }
  .medium-zeratul{ background-position: 0px -391.3043478px; }
  .medium-zuljin{ background-position: 0px 0.0px; }
  .medium-alteracpass{ background-position: -4px -1050.0px; }
  .medium-battlefieldofeternity{ background-position: -4px -375.0px; }
  .medium-blackheartsbay{ background-position: -4px -75.0px; }
  .medium-braxisholdout{ background-position: -4px -600.0px; }
  .medium-cursedhollow{ background-position: -4px -225.0px; }
  .medium-dragonshire{ background-position: -4px -300.0px; }
  .medium-gardenofterror{ background-position: -4px -150.0px; }
  .medium-hanamura{ background-position: -4px -825.0px; }
  .medium-hauntedmines{ background-position: -4px -750.0px; }
  .medium-infernalshrines{ background-position: -4px -450.0px; }
  .medium-lostcavern{ background-position: -4px -900.0px; }
  .medium-skytemple{ background-position: -4px 0.0px; }
  .medium-tombofthespiderqueen{ background-position: -4px -900.0px; }
  .medium-towersofdoom{ background-position: -4px -525.0px; }
  .medium-volskayafoundry{ background-position: -4px -975.0px; }
  .medium-warheadjunction{ background-position: -4px -675.0px; }
}