/* Site Master CSS */

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

p { margin: 0; }

footer>div.container>div.row>div.col-sm-3>ul { list-style: none; padding-left: 0; }
footer>div.container>div.row>div.col-sm-3>ul>li { line-height: 1.75em; }
footer>div.container>div.row>div.col-sm-3>ul>li>a:hover { text-decoration: none; }
footer { background-color: #f9f9f9; padding-top: 1em; padding-bottom: 1em; }

footer>div.container>div.row>div.col-sm-6>p:first-of-type { margin-bottom: 10.5px; }

a.permalink { color: #95a5a6; }

blockquote { font-size: 14px; }
blockquote > p:not(:last-child) { margin-bottom: 10px; }

/* Table defaults: no decoration on links, fa sort arrows */
table a:not(.btn), .table a:not(.btn) { text-decoration: none; }
th > a { cursor: pointer; }

.sort { color: #2c3e50; }
a.sort > i.fa-sort-asc, a.sort > i.fa-sort-desc { display: none; }
a.sort.asc > i.fa-sort { display: none; }
a.sort.asc > i.fa-sort-asc { display: inherit; }
a.sort.desc > i.fa-sort { display: none; }
a.sort.desc > i.fa-sort-desc { display: inherit; }

/* Table and table-in-panel CSS for hero rework talents */
table {
  border-collapse: collapse !important;
  width: 100%;
  max-width: 100%;
  margin-bottom: 21px;
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ecf0f1;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ecf0f1;
}
table > thead:first-child > tr:first-child > th, table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 2px solid #ecf0f1;
}
table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table > tbody > tr:hover {
  background-color: #ecf0f1;
}
.panel > table, .panel > .panel-collapse > table {
  margin-bottom: 0;
}
.panel > table:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel > table:first-child > thead:first-child > tr:first-child, .panel > table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > table:first-child > thead:first-child > tr:first-child td:first-child, .panel > table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > table:first-child > thead:first-child > tr:first-child th:first-child, .panel > table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel > table:first-child > thead:first-child > tr:first-child td:last-child, .panel > table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > table:first-child > thead:first-child > tr:first-child th:last-child, .panel > table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel > table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > table:last-child > tbody:last-child > tr:last-child, .panel > table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.panel > table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel > table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel > .panel-body + table, .panel > table + .panel-body {
  border-top: 1px solid #ecf0f1;
}
.panel > table > tbody:first-child > tr:first-child th, .panel > table > tbody:first-child > tr:first-child td {
  border-top: 0;
}

/* Icons */

a.official { 
  background: url("https://res.cloudinary.com/heroespatches/image/upload/c_scale,h_32/v1484894834/hotslogo.png") 0px 0px no-repeat; 
  background-size: 30px 32px; 
  width: 30px; 
  height: 32px; 
  display: inline-block; 
  vertical-align: middle;
}
a.hpn { 
  background: url("https://heroespatchnotes.com/favicon-32x32.png") 0px 0px no-repeat; 
  background-size: 32px 32px; 
  height: 32px; 
  width: 32px; 
  display: inline-block; 
  vertical-align: middle; 
}

/* Long battleground names */

a.tombofthespiderqueen + a.bg, a.battlefieldofeternity + a.bg, a.long-patch-name { font-size: 12px; }
@media (min-width: 768px) { a.tombofthespiderqueen + a.bg, a.battlefieldofeternity + a.bg, a.long-patch-name { font-size: 15px; } }

/* by-category pages */

.scrollable-menu {
  height: auto;
  max-height: 275px;
  overflow-x: hidden;
}
.bug-fixes + ul, ul + ul {
  margin-bottom: 0;
}

/* Hero page: Ability/Talent tables */

@media (min-width: 1200px) { #abilities td:nth-last-child(-n+2), #abilities th:nth-last-child(-n+2), #talents th:last-child, #talents td:last-child { text-align: center; } }

ul.nav-tabs {
  display: inline-block;
  vertical-align: bottom;
}
div.tab-content {
  font-size: 14px;
}

/* Reworks Index */

a.rework-row { display: block; text-decoration: none; border-bottom: 1px solid #ecf0f1; }
a.rework-row:hover { text-decoration: none; background-color: #ecf0f1; }
a.rework-row>div.col-md-3 { vertical-align: middle; line-height: 65px; font-size: 14px;}
a.rework-row>div>div { display: inline-block; }
a.rework-row:last-of-type { margin-bottom: 75px; }
div.rework-heading { font-weight: bold; padding: 8px; border-bottom: 1px solid #ecf0f1; border-top: 1px solid #ecf0f1; margin-top: 10px; }
div.rework-heading>div.col-md-3, a.rework-row>div.col-md-3 { text-align: center; }
div.rework-diffs { margin: 0 5px; }
@media (min-width: 350px) { a.rework-row>div.col-md-3 { font-size: 16px; line-height: 81px; } }
@media (min-width: 768px) { a.rework-row>div.col-md-3 { font-size: 26px; } }

/* Rework Diffs */

.moved-from { font-weight: bold; }
div.code-deletion, span.code-deletion { background-color: #ffdddd; }
div.code-addition, span.code-addition { background-color: #dbffdb; }
div.no-change, span.no-change { background-color: inherit; }
li.code-deletion-box { background-color: #ffdddd; border: 1px solid #CCB1B1; }
li.code-addition-box { background-color: #dbffdb; border: 1px solid #AFCCAF; }
li.regular-box { background-color: inherit; border: 1px solid #C6BCC1; }
div.stats-label { font-size: 26px; }
div.stats { font-size: 13px; }
div.stats>ul { list-style-type: none; padding-left: 0; margin-top: 10.5px; }

/* Map Rotation */

table>tbody>tr.added { background-color: #dbffdb; }
table>tbody>tr.removed { background-color: #ffdddd; }

/* Mobile-friendly lists */

.panel-body ul { 
  padding-left: 20px; 
  margin-left: 0px; 
}

@media (min-width: 768px) {
  .panel-body ul { padding-left: 40px; 
    margin-left: 0px; 
  }
}

article>#top ul { 
  padding-left: 20px; 
  margin-left: 0px; 
}

@media (min-width: 768px) {
  article>#top ul { padding-left: 40px; 
    margin-left: 0px; 
  }
}
