p { 
  margin: 0; 
}

h3 { 
  margin-top: 10.5px; 
}

blockquote { 
  font-size: 14px; 
}

blockquote > p:not(:last-child) { 
  margin-bottom: 10px; 
}

table { 
  border-collapse: collapse !important;
  width: 100%; 
  max-width: 100%; 
  margin-bottom: 21px; 
}

table > thead > tr > th, 
table > tbody > tr > th, 
table > tfoot > tr > th, 
table > thead > tr > td, 
table > tbody > tr > td, 
table > tfoot > tr > td {
  padding: 8px; 
  line-height: 1.42857143; 
  vertical-align: top; 
  border-top: 1px solid #ecf0f1; 
}

table > thead > tr > th { 
  vertical-align: bottom; 
  border-bottom: 2px solid #ecf0f1; }

table > thead:first-child > tr:first-child > th, 
table > thead:first-child > tr:first-child > td { 
  border-top: 0; 
}

table > tbody + tbody { 
  border-top: 2px solid #ecf0f1; 
}

table > tbody > tr:nth-of-type(odd) { 
  background-color: #f9f9f9; 
}

table > tbody > tr:hover { 
  background-color: #ecf0f1; 
}

table a:not(.btn), 
.table a:not(.btn) { 
  text-decoration: none; 
}

table>tbody>tr>td, 
.table>tbody>tr>td, 
table>thead>tr>th, 
.table>thead>tr>th { 
  text-align: center; 
}

h4 { 
  height: 77.655px; 
  padding-left: 88px; 
  padding-top: 25px; 
}
#abathur{ background: url("//heroespatchnotes.com/images/hero/abathur.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#alarak{ background: url("//heroespatchnotes.com/images/hero/alarak.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#alexstrasza{ background: url("//heroespatchnotes.com/images/hero/alexstrasza.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#ana{ background: url("//heroespatchnotes.com/images/hero/ana.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#anubarak{ background: url("//heroespatchnotes.com/images/hero/anubarak.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#artanis{ background: url("//heroespatchnotes.com/images/hero/artanis.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#arthas{ background: url("//heroespatchnotes.com/images/hero/arthas.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#auriel{ background: url("//heroespatchnotes.com/images/hero/auriel.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#azmodan{ background: url("//heroespatchnotes.com/images/hero/azmodan.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#brightwing{ background: url("//heroespatchnotes.com/images/hero/brightwing.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#the-butcher, #butcher{ background: url("//heroespatchnotes.com/images/hero/butcher.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#cassia{ background: url("//heroespatchnotes.com/images/hero/cassia.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#chen{ background: url("//heroespatchnotes.com/images/hero/chen.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#cho{ background: url("//heroespatchnotes.com/images/hero/cho.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#chromie{ background: url("//heroespatchnotes.com/images/hero/chromie.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#dva{ background: url("//heroespatchnotes.com/images/hero/dva.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#dehaka{ background: url("//heroespatchnotes.com/images/hero/dehaka.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#diablo{ background: url("//heroespatchnotes.com/images/hero/diablo.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#etc{ background: url("//heroespatchnotes.com/images/hero/etc.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#falstad{ background: url("//heroespatchnotes.com/images/hero/falstad.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#gall{ background: url("//heroespatchnotes.com/images/hero/gall.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#garrosh{ background: url("//heroespatchnotes.com/images/hero/garrosh.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#gazlowe{ background: url("//heroespatchnotes.com/images/hero/gazlowe.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#genji{ background: url("//heroespatchnotes.com/images/hero/genji.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#greymane{ background: url("//heroespatchnotes.com/images/hero/greymane.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#guldan{ background: url("//heroespatchnotes.com/images/hero/guldan.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#hanzo{ background: url("//heroespatchnotes.com/images/hero/hanzo.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#illidan{ background: url("//heroespatchnotes.com/images/hero/illidan.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#jaina{ background: url("//heroespatchnotes.com/images/hero/jaina.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#johanna{ background: url("//heroespatchnotes.com/images/hero/johanna.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#junkrat{ background: url("//heroespatchnotes.com/images/hero/junkrat.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#kaelthas{ background: url("//heroespatchnotes.com/images/hero/kaelthas.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#kelthuzad{ background: url("//heroespatchnotes.com/images/hero/kelthuzad.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#kerrigan{ background: url("//heroespatchnotes.com/images/hero/kerrigan.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#kharazim{ background: url("//heroespatchnotes.com/images/hero/kharazim.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#leoric{ background: url("//heroespatchnotes.com/images/hero/leoric.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#li-li, #lili{ background: url("//heroespatchnotes.com/images/hero/lili.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#li-ming, #liming{ background: url("//heroespatchnotes.com/images/hero/liming.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#lt-morales, #ltmorales{ background: url("//heroespatchnotes.com/images/hero/ltmorales.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#lucio{ background: url("//heroespatchnotes.com/images/hero/lucio.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#lunara{ background: url("//heroespatchnotes.com/images/hero/lunara.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#malfurion{ background: url("//heroespatchnotes.com/images/hero/malfurion.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#malthael{ background: url("//heroespatchnotes.com/images/hero/malthael.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#medivh{ background: url("//heroespatchnotes.com/images/hero/medivh.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#muradin{ background: url("//heroespatchnotes.com/images/hero/muradin.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#murky{ background: url("//heroespatchnotes.com/images/hero/murky.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#nazeebo{ background: url("//heroespatchnotes.com/images/hero/nazeebo.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#nova{ background: url("//heroespatchnotes.com/images/hero/nova.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#probius{ background: url("//heroespatchnotes.com/images/hero/probius.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#ragnaros{ background: url("//heroespatchnotes.com/images/hero/ragnaros.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#raynor{ background: url("//heroespatchnotes.com/images/hero/raynor.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#rehgar{ background: url("//heroespatchnotes.com/images/hero/rehgar.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#rexxar{ background: url("//heroespatchnotes.com/images/hero/rexxar.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#samuro{ background: url("//heroespatchnotes.com/images/hero/samuro.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#sgt-hammer, #sgthammer{ background: url("//heroespatchnotes.com/images/hero/sgthammer.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#sonya{ background: url("//heroespatchnotes.com/images/hero/sonya.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#stitches{ background: url("//heroespatchnotes.com/images/hero/stitches.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#stukov{ background: url("//heroespatchnotes.com/images/hero/stukov.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#sylvanas{ background: url("//heroespatchnotes.com/images/hero/sylvanas.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#tassadar{ background: url("//heroespatchnotes.com/images/hero/tassadar.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#the-lost-vikings, #thelostvikings{ background: url("//heroespatchnotes.com/images/hero/thelostvikings.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#thrall{ background: url("//heroespatchnotes.com/images/hero/thrall.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#tracer{ background: url("//heroespatchnotes.com/images/hero/tracer.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#tychus{ background: url("//heroespatchnotes.com/images/hero/tychus.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#tyrael{ background: url("//heroespatchnotes.com/images/hero/tyrael.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#tyrande{ background: url("//heroespatchnotes.com/images/hero/tyrande.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#uther{ background: url("//heroespatchnotes.com/images/hero/uther.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#valeera{ background: url("//heroespatchnotes.com/images/hero/valeera.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#valla{ background: url("//heroespatchnotes.com/images/hero/valla.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#varian{ background: url("//heroespatchnotes.com/images/hero/varian.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#xul{ background: url("//heroespatchnotes.com/images/hero/xul.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#zagara{ background: url("//heroespatchnotes.com/images/hero/zagara.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#zarya{ background: url("//heroespatchnotes.com/images/hero/zarya.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#zeratul{ background: url("//heroespatchnotes.com/images/hero/zeratul.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }
#zuljin{ background: url("//heroespatchnotes.com/images/hero/zuljin.png") 0 0 no-repeat; background-size: 76.82px 77.655px; }

footer>div.container>div.row>div.col-sm-6>p:first-of-type { 
  margin-bottom: 10.5px; 
}

footer { 
  margin-top: 25px; 
}

a.permalink { 
  color: #95a5a6; 
}

div.official-link>a { 
  display: inline-block; 
  vertical-align: middle; 
}

a.official { 
  background: url("https://res.cloudinary.com/heroespatches/image/upload/c_scale,h_32/v1484894834/hotslogo.png") 0px 0px no-repeat; 
  background-size: 30px 32px; 
  width: 30px; 
  height: 32px; 
}

article ul { 
  padding-left: 20px; 
  margin-left: 0px; 
}

@media (min-width: 768px) {
  article ul { padding-left: 40px; 
    margin-left: 0px; 
  }
}