p { 
  margin: 0; 
}

h3 { 
  margin-top: 10.5px; 
}

blockquote { 
  font-size: 14px; 
}

blockquote > p:not(:last-child) { 
  margin-bottom: 10px; 
}

table { 
  border-collapse: collapse !important;
  width: 100%; 
  max-width: 100%; 
  margin-bottom: 21px; 
}

table > thead > tr > th, 
table > tbody > tr > th, 
table > tfoot > tr > th, 
table > thead > tr > td, 
table > tbody > tr > td, 
table > tfoot > tr > td {
  padding: 8px; 
  line-height: 1.42857143; 
  vertical-align: top; 
  border-top: 1px solid #ecf0f1; 
}

table > thead > tr > th { 
  vertical-align: bottom; 
  border-bottom: 2px solid #ecf0f1; }

table > thead:first-child > tr:first-child > th, 
table > thead:first-child > tr:first-child > td { 
  border-top: 0; 
}

table > tbody + tbody { 
  border-top: 2px solid #ecf0f1; 
}

table > tbody > tr:nth-of-type(odd) { 
  background-color: #f9f9f9; 
}

table > tbody > tr:hover { 
  background-color: #ecf0f1; 
}

table a:not(.btn), 
.table a:not(.btn) { 
  text-decoration: none; 
}

table>tbody>tr>td, 
.table>tbody>tr>td, 
table>thead>tr>th, 
.table>thead>tr>th { 
  text-align: center; 
}

h4 { 
  background: url("//res.cloudinary.com/heroespatches/image/upload/v1492579250/hero-sprite-v20170425.png") 0px 0px no-repeat; 
  background-size: 76.82px 5505.155px; 
  height: 77.655px; 
  padding-left: 88px; 
  padding-top: 25px; 
}
#abathur{ background-position: 0px -250.5px; }
#alarak{ background-position: 0px -4676.0px; }
#anubarak{ background-position: 0px -83.5px; }
#artanis{ background-position: 0px -3423.5px; }
#arthas{ background-position: 0px -167.0px; }
#auriel{ background-position: 0px -4509.0px; }
#azmodan{ background-position: 0px -2672.0px; }
#brightwing{ background-position: 0px -2755.5px; }
#the-butcher, #butcher{ background-position: 0px -3089.5px; }
#cassia{ background-position: 0px -5344.0px; }
#chen{ background-position: 0px -334.0px; }
#cho{ background-position: 0px -3590.5px; }
#chromie{ background-position: 0px -4258.5px; }
#dehaka{ background-position: 0px -4091.5px; }
#diablo{ background-position: 0px -417.5px; }
#etc{ background-position: 0px -1002.0px; }
#falstad{ background-position: 0px -501.0px; }
#gall{ background-position: 0px -3674.0px; }
#gazlowe{ background-position: 0px -1670.0px; }
#greymane{ background-position: 0px -3841.0px; }
#guldan{ background-position: 0px -4425.5px; }
#illidan{ background-position: 0px -584.5px; }
#jaina{ background-position: 0px -668.0px; }
#johanna{ background-position: 0px -3006.0px; }
#kaelthas{ background-position: 0px -751.5px; }
#kerrigan{ background-position: 0px -835.0px; }
#kharazim{ background-position: 0px -3256.5px; }
#leoric{ background-position: 0px -3173.0px; }
#li-li, #lili{ background-position: 0px -918.5px; }
#li-ming, #liming{ background-position: 0px -3924.5px; }
#lt-morales, #ltmorales{ background-position: 0px -3507.0px; }
#lucio{ background-position: 0px -5177.0px; }
#lunara{ background-position: 0px -3757.5px; }
#malfurion{ background-position: 0px -1586.5px; }
#medivh{ background-position: 0px -4342.0px; }
#muradin{ background-position: 0px -1085.5px; }
#murky{ background-position: 0px -1169.0px; }
#nazeebo{ background-position: 0px -1252.5px; }
#nova{ background-position: 0px -1336.0px; }
#probius{ background-position: 0px -5260.5px; }
#ragnaros{ background-position: 0px -4926.5px; }
#raynor{ background-position: 0px -1419.5px; }
#rehgar{ background-position: 0px -1503.0px; }
#rexxar{ background-position: 0px -3340.0px; }
#samuro{ background-position: 0px -4759.5px; }
#sgt-hammer, #sgthammer{ background-position: 0px -2338.0px; }
#sonya{ background-position: 0px -2421.5px; }
#stitches{ background-position: 0px -2505.0px; }
#sylvanas{ background-position: 0px -2588.5px; }
#tassadar{ background-position: 0px -2839.0px; }
#the-lost-vikings, #thelostvikings{ background-position: 0px -0.0px; }
#thrall{ background-position: 0px -2254.5px; }
#tracer{ background-position: 0px -4175.0px; }
#tychus{ background-position: 0px -1753.5px; }
#tyrael{ background-position: 0px -1837.0px; }
#tyrande{ background-position: 0px -2922.5px; }
#uther{ background-position: 0px -1920.5px; }
#valeera{ background-position: 0px -5093.5px; }
#valla{ background-position: 0px -2004.0px; }
#varian{ background-position: 0px -4843.0px; }
#xul{ background-position: 0px -4008.0px; }
#zagara{ background-position: 0px -2087.5px; }
#zarya{ background-position: 0px -4592.5px; }
#zeratul{ background-position: 0px -2171.0px; }
#zuljin{ background-position: 0px -5010.0px; }

footer>div.container>div.row>div.col-sm-6>p:first-of-type { 
  margin-bottom: 10.5px; 
}

footer { 
  margin-top: 25px; 
}

a.permalink { 
  color: #95a5a6; 
}

div.official-link>a { 
  display: inline-block; 
  vertical-align: middle; 
}

a.official { 
  background: url("https://res.cloudinary.com/heroespatches/image/upload/c_scale,h_32/v1484894834/hotslogo.png") 0px 0px no-repeat; 
  background-size: 30px 32px; 
  width: 30px; 
  height: 32px; 
}

article ul { 
  padding-left: 20px; 
  margin-left: 0px; 
}

@media (min-width: 768px) {
  article ul { padding-left: 40px; 
    margin-left: 0px; 
  }
}