/* Sprite CSS: Mobile-first so medium == small*/
.small-hero-one, .medium-hero-one { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-one-v20170516.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-two, .medium-hero-two { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-two-v20170516.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-three, .medium-hero-three { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-three-v20170516.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-four, .medium-hero-four { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-four-v20170516.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-five, .medium-hero-five { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-five-v20170516.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-six, .medium-hero-six { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-six-v20170516.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-seven, .medium-hero-seven { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-seven-v20170808.png") 0 0 no-repeat; background-size: 44px 474.91304391px; height: 44px; width: 44px; }
.small-hero-eight, .medium-hero-eight { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-eight-v20180206.png") 0 0 no-repeat; background-size: 44px 331.43478291px; height: 44px; width: 44px; }
.small-battleground, .medium-battleground {
  background:url("//heroespatchnotes.com/images/sprite/bg-sprite-v20170918.png") 0 0 no-repeat; 
  background-size: 50.6px 759.0px; width: 44px; height: 44px;
}

.small-abathur, .medium-abathur{ background-position: 0px -143.478261px; }
.small-alarak, .medium-alarak{ background-position: 0px -286.956522px; }
.small-alexstrasza, .medium-alexstrasza{ background-position: 0px -143.478261px; }
.small-ana, .medium-ana{ background-position: 0px -47.826087px; }
.small-anubarak, .medium-anubarak{ background-position: 0px -47.826087px; }
.small-artanis, .medium-artanis{ background-position: 0px -47.826087px; }
.small-arthas, .medium-arthas{ background-position: 0px -95.652174px; }
.small-auriel, .medium-auriel{ background-position: 0px -191.304348px; }
.small-azmodan, .medium-azmodan{ background-position: 0px -95.652174px; }
.small-blaze, .medium-blaze{ background-position: 0px -239.130435px; }
.small-brightwing, .medium-brightwing{ background-position: 0px -143.478261px; }
.small-butcher, .medium-butcher{ background-position: 0px -334.782609px; }
.small-cassia, .medium-cassia{ background-position: 0px -191.304348px; }
.small-chen, .medium-chen{ background-position: 0px -191.304348px; }
.small-cho, .medium-cho{ background-position: 0px -143.478261px; }
.small-chromie, .medium-chromie{ background-position: 0px -47.826087px; }
.small-dva, .medium-dva{ background-position: 0px -286.956522px; }
.small-dehaka, .medium-dehaka{ background-position: 0px -430.434783px; }
.small-diablo, .medium-diablo{ background-position: 0px -239.130435px; }
.small-etc, .medium-etc{ background-position: 0px -95.652174px; }
.small-falstad, .medium-falstad{ background-position: 0px -286.956522px; }
.small-gall, .medium-gall{ background-position: 0px -191.304348px; }
.small-garrosh, .medium-garrosh{ background-position: 0px -430.434783px; }
.small-gazlowe, .medium-gazlowe{ background-position: 0px 0.0px; }
.small-genji, .medium-genji{ background-position: 0px -239.130435px; }
.small-greymane, .medium-greymane{ background-position: 0px -286.956522px; }
.small-guldan, .medium-guldan{ background-position: 0px -143.478261px; }
.small-hanzo, .medium-hanzo{ background-position: 0px -191.304348px; }
.small-illidan, .medium-illidan{ background-position: 0px -334.782609px; }
.small-jaina, .medium-jaina{ background-position: 0px -382.608696px; }
.small-johanna, .medium-johanna{ background-position: 0px -286.956522px; }
.small-junkrat, .medium-junkrat{ background-position: 0px -95.652174px; }
.small-kaelthas, .medium-kaelthas{ background-position: 0px -430.434783px; }
.small-kelthuzad, .medium-kelthuzad{ background-position: 0px 0.0px; }
.small-kerrigan, .medium-kerrigan{ background-position: 0px 0.0px; }
.small-kharazim, .medium-kharazim{ background-position: 0px -430.434783px; }
.small-leoric, .medium-leoric{ background-position: 0px -382.608696px; }
.small-lili, .medium-lili{ background-position: 0px -47.826087px; }
.small-liming, .medium-liming{ background-position: 0px -334.782609px; }
.small-ltmorales, .medium-ltmorales{ background-position: 0px -95.652174px; }
.small-lucio, .medium-lucio{ background-position: 0px -95.652174px; }
.small-lunara, .medium-lunara{ background-position: 0px -239.130435px; }
.small-maiev, .medium-maiev{ background-position: 0px -286.956522px; }
.small-malfurion, .medium-malfurion{ background-position: 0px -430.434783px; }
.small-malthael, .medium-malthael{ background-position: 0px -334.782609px; }
.small-medivh, .medium-medivh{ background-position: 0px -95.652174px; }
.small-muradin, .medium-muradin{ background-position: 0px -143.478261px; }
.small-murky, .medium-murky{ background-position: 0px -191.304348px; }
.small-nazeebo, .medium-nazeebo{ background-position: 0px -239.130435px; }
.small-nova, .medium-nova{ background-position: 0px -286.956522px; }
.small-probius, .medium-probius{ background-position: 0px -143.478261px; }
.small-ragnaros, .medium-ragnaros{ background-position: 0px -430.434783px; }
.small-raynor, .medium-raynor{ background-position: 0px -334.782609px; }
.small-rehgar, .medium-rehgar{ background-position: 0px -382.608696px; }
.small-rexxar, .medium-rexxar{ background-position: 0px 0.0px; }
.small-samuro, .medium-samuro{ background-position: 0px -334.782609px; }
.small-sgthammer, .medium-sgthammer{ background-position: 0px -382.608696px; }
.small-sonya, .medium-sonya{ background-position: 0px -430.434783px; }
.small-stitches, .medium-stitches{ background-position: 0px 0.0px; }
.small-stukov, .medium-stukov{ background-position: 0px -382.608696px; }
.small-sylvanas, .medium-sylvanas{ background-position: 0px -47.826087px; }
.small-tassadar, .medium-tassadar{ background-position: 0px -191.304348px; }
.small-thelostvikings, .medium-thelostvikings{ background-position: 0px 0.0px; }
.small-thrall, .medium-thrall{ background-position: 0px -334.782609px; }
.small-tracer, .medium-tracer{ background-position: 0px 0.0px; }
.small-tychus, .medium-tychus{ background-position: 0px -47.826087px; }
.small-tyrael, .medium-tyrael{ background-position: 0px -95.652174px; }
.small-tyrande, .medium-tyrande{ background-position: 0px -239.130435px; }
.small-uther, .medium-uther{ background-position: 0px -143.478261px; }
.small-valeera, .medium-valeera{ background-position: 0px -47.826087px; }
.small-valla, .medium-valla{ background-position: 0px -191.304348px; }
.small-varian, .medium-varian{ background-position: 0px -382.608696px; }
.small-xul, .medium-xul{ background-position: 0px -382.608696px; }
.small-zagara, .medium-zagara{ background-position: 0px -239.130435px; }
.small-zarya, .medium-zarya{ background-position: 0px -239.130435px; }
.small-zeratul, .medium-zeratul{ background-position: 0px -286.956522px; }
.small-zuljin, .medium-zuljin{ background-position: 0px 0.0px; }
.small-battlefieldofeternity, .medium-battlefieldofeternity{ background-position: -4px -275.0px; }
.small-blackheartsbay, .medium-blackheartsbay{ background-position: -4px -55.0px; }
.small-braxisholdout, .medium-braxisholdout{ background-position: -4px -440.0px; }
.small-cursedhollow, .medium-cursedhollow{ background-position: -4px -165.0px; }
.small-dragonshire, .medium-dragonshire{ background-position: -4px -220.0px; }
.small-gardenofterror, .medium-gardenofterror{ background-position: -4px -110.0px; }
.small-hanamura, .medium-hanamura{ background-position: -4px -605.0px; }
.small-hauntedmines, .medium-hauntedmines{ background-position: -4px -550.0px; }
.small-infernalshrines, .medium-infernalshrines{ background-position: -4px -330.0px; }
.small-lostcavern, .medium-lostcavern{ background-position: -4px -660.0px; }
.small-skytemple, .medium-skytemple{ background-position: -4px 0.0px; }
.small-tombofthespiderqueen, .medium-tombofthespiderqueen{ background-position: -4px -660.0px; }
.small-towersofdoom, .medium-towersofdoom{ background-position: -4px -385.0px; }
.small-volskayafoundry, .medium-volskayafoundry{ background-position: -4px -715.0px; }
.small-warheadjunction, .medium-warheadjunction{ background-position: -4px -495.0px; }

/* Vertical timeline adapted from: http://tympanus.net/codrops/2013/05/02/vertical-timeline/ */
.timeline {
  position: relative;
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;
} 

.timeline > li {
  position: relative;
}

/* The date */
.timeline > li .date {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 25px 0;
  font-size: 1.4em;
  text-align: left;
  color: #3498db;
}

/* Images on line */
.line-hero-img, .line-bg-img {
  position: relative;
  float: right;
  top: 0;
  left: auto;
  margin: -50px 5px 0 0;
}

.line-icon {
  position: relative;
  float: right;
  top: 0;
  left: auto;
  margin: -65px 5px 0 0;
  padding-left: 2px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 1.4em;
  color: #ffffff;
  background-color: #2c3e50;
}

.ranked-ring { 
  position: relative;
  float: right;
  top: 0;
  left: auto;
  background: url("//res.cloudinary.com/heroespatches/image/upload/v1481355437/ranked-ring.png") 0 0 no-repeat; 
  background-size: 70px 70px; 
  height: 70px; 
  width: 70px; 
  margin: -72px 5px 0 0;
}

.ranked-ring h3 { 
  position: absolute; 
  top: 0;
  width: 100%;  
  text-align: center; 
  vertical-align: middle; 
  color: #fff; 
  text-shadow: rgba(0,0,0,.8) 0 0 16px; 
}

.second-img {
  right: 50px;
}

.third-img {
  right: 100px;
}

div.reworks a {
  display: inline-block;
}

/* Right content */
.timeline > li .detail {
  margin: 0 0 30px 0;
  position: relative;
}

.timeline > li .detail h3 { 
  margin-top: 10.5px;
}

/* The triangle */
.timeline > li .detail:after {
  position: absolute;
  left: 20px;
  content: " ";
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  border-bottom-color: #2c3e50;
  top: -20px;
  border-width: 10px;
}

.navbar {
  margin-bottom: 5px;
}

div.panel-heading>h3>a {
  color: #fff;
}
div.panel-heading>h3>a:hover {
  color: #18bc9c;
  text-decoration: none;
}
div.panel-heading>h3>a>i.fa-external-link {
  color: #18bc9c;
}

.panel-heading>h3>a.permalink {
  color: #95a5a6;
}

@media (min-width: 360px) {
  .medium-hero-one { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-one-v20170516.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-two { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-two-v20170516.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-three { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-three-v20170516.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-four { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-four-v20170516.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-five { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-five-v20170516.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-six { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-six-v20170516.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-seven { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-seven-v20170808.png") 0 0 no-repeat; background-size: 60px 647.608695609px; height: 60px; width: 60px; }
  .medium-hero-eight { background:url("//heroespatchnotes.com/images/sprite/hero-sprite-eight-v20180206.png") 0 0 no-repeat; background-size: 60px 451.956521709px; height: 60px; width: 60px; }
  .medium-battleground { 
    background-size: 69px 1035.0px; width: 60px; height: 60px; 
  }

  .medium-abathur{ background-position: 0px -195.6521739px; }
  .medium-alarak{ background-position: 0px -391.3043478px; }
  .medium-alexstrasza{ background-position: 0px -195.6521739px; }
  .medium-ana{ background-position: 0px -65.2173913px; }
  .medium-anubarak{ background-position: 0px -65.2173913px; }
  .medium-artanis{ background-position: 0px -65.2173913px; }
  .medium-arthas{ background-position: 0px -130.4347826px; }
  .medium-auriel{ background-position: 0px -260.8695652px; }
  .medium-azmodan{ background-position: 0px -130.4347826px; }
  .medium-blaze{ background-position: 0px -326.0869565px; }
  .medium-brightwing{ background-position: 0px -195.6521739px; }
  .medium-butcher{ background-position: 0px -456.5217391px; }
  .medium-cassia{ background-position: 0px -260.8695652px; }
  .medium-chen{ background-position: 0px -260.8695652px; }
  .medium-cho{ background-position: 0px -195.6521739px; }
  .medium-chromie{ background-position: 0px -65.2173913px; }
  .medium-dva{ background-position: 0px -391.3043478px; }
  .medium-dehaka{ background-position: 0px -586.9565217px; }
  .medium-diablo{ background-position: 0px -326.0869565px; }
  .medium-etc{ background-position: 0px -130.4347826px; }
  .medium-falstad{ background-position: 0px -391.3043478px; }
  .medium-gall{ background-position: 0px -260.8695652px; }
  .medium-garrosh{ background-position: 0px -586.9565217px; }
  .medium-gazlowe{ background-position: 0px 0.0px; }
  .medium-genji{ background-position: 0px -326.0869565px; }
  .medium-greymane{ background-position: 0px -391.3043478px; }
  .medium-guldan{ background-position: 0px -195.6521739px; }
  .medium-hanzo{ background-position: 0px -260.8695652px; }
  .medium-illidan{ background-position: 0px -456.5217391px; }
  .medium-jaina{ background-position: 0px -521.7391304px; }
  .medium-johanna{ background-position: 0px -391.3043478px; }
  .medium-junkrat{ background-position: 0px -130.4347826px; }
  .medium-kaelthas{ background-position: 0px -586.9565217px; }
  .medium-kelthuzad{ background-position: 0px 0.0px; }
  .medium-kerrigan{ background-position: 0px 0.0px; }
  .medium-kharazim{ background-position: 0px -586.9565217px; }
  .medium-leoric{ background-position: 0px -521.7391304px; }
  .medium-lili{ background-position: 0px -65.2173913px; }
  .medium-liming{ background-position: 0px -456.5217391px; }
  .medium-ltmorales{ background-position: 0px -130.4347826px; }
  .medium-lucio{ background-position: 0px -130.4347826px; }
  .medium-lunara{ background-position: 0px -326.0869565px; }
  .medium-maiev{ background-position: 0px -391.3043478px; }
  .medium-malfurion{ background-position: 0px -586.9565217px; }
  .medium-malthael{ background-position: 0px -456.5217391px; }
  .medium-medivh{ background-position: 0px -130.4347826px; }
  .medium-muradin{ background-position: 0px -195.6521739px; }
  .medium-murky{ background-position: 0px -260.8695652px; }
  .medium-nazeebo{ background-position: 0px -326.0869565px; }
  .medium-nova{ background-position: 0px -391.3043478px; }
  .medium-probius{ background-position: 0px -195.6521739px; }
  .medium-ragnaros{ background-position: 0px -586.9565217px; }
  .medium-raynor{ background-position: 0px -456.5217391px; }
  .medium-rehgar{ background-position: 0px -521.7391304px; }
  .medium-rexxar{ background-position: 0px 0.0px; }
  .medium-samuro{ background-position: 0px -456.5217391px; }
  .medium-sgthammer{ background-position: 0px -521.7391304px; }
  .medium-sonya{ background-position: 0px -586.9565217px; }
  .medium-stitches{ background-position: 0px 0.0px; }
  .medium-stukov{ background-position: 0px -521.7391304px; }
  .medium-sylvanas{ background-position: 0px -65.2173913px; }
  .medium-tassadar{ background-position: 0px -260.8695652px; }
  .medium-thelostvikings{ background-position: 0px 0.0px; }
  .medium-thrall{ background-position: 0px -456.5217391px; }
  .medium-tracer{ background-position: 0px 0.0px; }
  .medium-tychus{ background-position: 0px -65.2173913px; }
  .medium-tyrael{ background-position: 0px -130.4347826px; }
  .medium-tyrande{ background-position: 0px -326.0869565px; }
  .medium-uther{ background-position: 0px -195.6521739px; }
  .medium-valeera{ background-position: 0px -65.2173913px; }
  .medium-valla{ background-position: 0px -260.8695652px; }
  .medium-varian{ background-position: 0px -521.7391304px; }
  .medium-xul{ background-position: 0px -521.7391304px; }
  .medium-zagara{ background-position: 0px -326.0869565px; }
  .medium-zarya{ background-position: 0px -326.0869565px; }
  .medium-zeratul{ background-position: 0px -391.3043478px; }
  .medium-zuljin{ background-position: 0px 0.0px; }
  .medium-battlefieldofeternity{ background-position: -4px -375.0px; }
  .medium-blackheartsbay{ background-position: -4px -75.0px; }
  .medium-braxisholdout{ background-position: -4px -600.0px; }
  .medium-cursedhollow{ background-position: -4px -225.0px; }
  .medium-dragonshire{ background-position: -4px -300.0px; }
  .medium-gardenofterror{ background-position: -4px -150.0px; }
  .medium-hanamura{ background-position: -4px -825.0px; }
  .medium-hauntedmines{ background-position: -4px -750.0px; }
  .medium-infernalshrines{ background-position: -4px -450.0px; }
  .medium-lostcavern{ background-position: -4px -900.0px; }
  .medium-skytemple{ background-position: -4px 0.0px; }
  .medium-tombofthespiderqueen{ background-position: -4px -900.0px; }
  .medium-towersofdoom{ background-position: -4px -525.0px; }
  .medium-volskayafoundry{ background-position: -4px -975.0px; }
  .medium-warheadjunction{ background-position: -4px -675.0px; }

  .second-img {
    right: 65px;
  }

  .third-img {
    right: 130px;
  }

  .line-bg-img, .line-hero-img {
    margin: -74px 5px 0 0;
  }

  .ranked-ring {
    margin: -80px 5px 0 0;
  }
}

@media (min-width: 768px) {
  .timeline > li .date {
    font-size: 1.6em;
  }

  .line-icon, .line-bg-img, .line-hero-img {
    box-shadow: 0 0 0 8px #3498db;
  }

  .ranked-ring {
    margin: -80px 0 0 0;
  }

  .second-img {
    right: 81px;
  }

  .third-img {
    right: 162px;
  }

  .navbar {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* The line */
  .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #3498db;
    left: 15%;
    margin-left: -10px;
  }

  .timeline > li .date {
    position: absolute;
    width: 15%;
    padding-right: 50px;
    font-size: 1.1em;
    text-align: right;
  }

  .line-icon {
    position: absolute;
    left: 15%;
    margin: 0 0 0 -30px;
  }

  .line-bg-img, .line-hero-img {
    position: absolute;
    left: 15%;
    margin: 0 0 0 -35px;
  }

  .ranked-ring {
    position: absolute;
    left: 15%;
    margin: -10px 0 0 -40px;
  }

  .timeline > li .detail {
    margin: 0 0 15px 20%;
  }

  .second-img {
    top: 86px;
  }

  .third-img {
    top: 172px;
  }

  .navbar {
    margin-bottom: 21px;
  }

  .timeline > li .detail:after {
    right: 100%;
    top: 10px;
    left: auto;
    border-right-color: #2c3e50;
    border-bottom-color: transparent;
  }

  h1, article>p {
    padding-left: 3px;
  }
}

@media (min-width: 1200px) {
  .timeline > li .date {
    font-size: 1.3em;
  }  

  h1, article>p {
    padding-left: 17px;
  }
}

div.panel-body>ul>li>p { margin-bottom: 0; }