/* Sprite CSS: Mobile-first so medium == small*/
.small-hero, .medium-hero { 
  background:url("//res.cloudinary.com/heroespatches/image/upload/v1491374514/hero-sprite-v20170404.png") 0px 0px no-repeat; 
  background-size: 44px 3105.348px; height: 44px; width: 44px; 
}

.small-battleground, .medium-battleground {
  background:url("//res.cloudinary.com/heroespatches/image/upload/v1481355436/battleground-sprite.png") 0px 0px no-repeat; 
  background-size: 541.321px 44px; width: 45px; height: 44px;
}

.small-abathur, .medium-abathur{ background-position: 0px -143px; }
.small-alarak, .medium-alarak{ background-position: 0px -2678px; }
.small-anubarak, .medium-anubarak{ background-position: 0px -48px; }
.small-artanis, .medium-artanis{ background-position: 0px -1961px; }
.small-arthas, .medium-arthas{ background-position: 0px -96px; }
.small-auriel, .medium-auriel{ background-position: 0px -2583px; }
.small-azmodan, .medium-azmodan{ background-position: 0px -1530px; }
.small-brightwing, .medium-brightwing{ background-position: 0px -1578px; }
.small-butcher, .medium-butcher{ background-position: 0px -1770px; }
.small-cassia, .medium-cassia{ background-position: 0px -3061px; }
.small-chen, .medium-chen{ background-position: 0px -191px; }
.small-cho, .medium-cho{ background-position: 0px -2057px; }
.small-chromie, .medium-chromie{ background-position: 0px -2439px; }
.small-dehaka, .medium-dehaka{ background-position: 0px -2343px; }
.small-diablo, .medium-diablo{ background-position: 0px -239px; }
.small-etc, .medium-etc{ background-position: 0px -574px; }
.small-falstad, .medium-falstad{ background-position: 0px -287px; }
.small-gall, .medium-gall{ background-position: 0px -2104px; }
.small-gazlowe, .medium-gazlowe{ background-position: 0px -957px; }
.small-greymane, .medium-greymane{ background-position: 0px -2200px; }
.small-guldan, .medium-guldan{ background-position: 0px -2535px; }
.small-illidan, .medium-illidan{ background-position: 0px -335px; }
.small-jaina, .medium-jaina{ background-position: 0px -383px; }
.small-johanna, .medium-johanna{ background-position: 0px -1722px; }
.small-kaelthas, .medium-kaelthas{ background-position: 0px -431px; }
.small-kerrigan, .medium-kerrigan{ background-position: 0px -478px; }
.small-kharazim, .medium-kharazim{ background-position: 0px -1865px; }
.small-leoric, .medium-leoric{ background-position: 0px -1817px; }
.small-lili, .medium-lili{ background-position: 0px -526px; }
.small-liming, .medium-liming{ background-position: 0px -2248px; }
.small-ltmorales, .medium-ltmorales{ background-position: 0px -2009px; }
.small-lucio, .medium-lucio{ background-position: 0px -2965px; }
.small-lunara, .medium-lunara{ background-position: 0px -2152px; }
.small-malfurion, .medium-malfurion{ background-position: 0px -909px; }
.small-medivh, .medium-medivh{ background-position: 0px -2487px; }
.small-muradin, .medium-muradin{ background-position: 0px -622px; }
.small-murky, .medium-murky{ background-position: 0px -670px; }
.small-nazeebo, .medium-nazeebo{ background-position: 0px -718px; }
.small-nova, .medium-nova{ background-position: 0px -765px; }
.small-probius, .medium-probius{ background-position: 0px -3013px; }
.small-ragnaros, .medium-ragnaros{ background-position: 0px -2822px; }
.small-raynor, .medium-raynor{ background-position: 0px -813px; }
.small-rehgar, .medium-rehgar{ background-position: 0px -861px; }
.small-rexxar, .medium-rexxar{ background-position: 0px -1913px; }
.small-samuro, .medium-samuro{ background-position: 0px -2726px; }
.small-sgthammer, .medium-sgthammer{ background-position: 0px -1339px; }
.small-sonya, .medium-sonya{ background-position: 0px -1387px; }
.small-stitches, .medium-stitches{ background-position: 0px -1435px; }
.small-sylvanas, .medium-sylvanas{ background-position: 0px -1483px; }
.small-tassadar, .medium-tassadar{ background-position: 0px -1626px; }
.small-thelostvikings, .medium-thelostvikings{ background-position: 0px -0px; }
.small-thrall, .medium-thrall{ background-position: 0px -1291px; }
.small-tracer, .medium-tracer{ background-position: 0px -2391px; }
.small-tychus, .medium-tychus{ background-position: 0px -1004px; }
.small-tyrael, .medium-tyrael{ background-position: 0px -1052px; }
.small-tyrande, .medium-tyrande{ background-position: 0px -1674px; }
.small-uther, .medium-uther{ background-position: 0px -1100px; }
.small-valeera, .medium-valeera{ background-position: 0px -2917px; }
.small-valla, .medium-valla{ background-position: 0px -1148px; }
.small-varian, .medium-varian{ background-position: 0px -2774px; }
.small-xul, .medium-xul{ background-position: 0px -2296px; }
.small-zagara, .medium-zagara{ background-position: 0px -1196px; }
.small-zarya, .medium-zarya{ background-position: 0px -2630px; }
.small-zeratul, .medium-zeratul{ background-position: 0px -1244px; }
.small-zuljin, .medium-zuljin{ background-position: 0px -2870px; }
.small-battlefieldofeternity, .medium-battlefieldofeternity{ background-position: -316px 0px; }
.small-blackheartsbay, .medium-blackheartsbay{ background-position: -90px 0px; }
.small-braxisholdout, .medium-braxisholdout{ background-position: -451px 0px; }
.small-cursedhollow, .medium-cursedhollow{ background-position: -226px 0px; }
.small-dragonshire, .medium-dragonshire{ background-position: -135px 0px; }
.small-gardenofterror, .medium-gardenofterror{ background-position: -45px 0px; }
.small-hauntedmines, .medium-hauntedmines{ background-position: -181px 0px; }
.small-infernalshrines, .medium-infernalshrines{ background-position: -361px 0px; }
.small-lostcavern, .medium-lostcavern{ background-position: -271px 0px; }
.small-skytemple, .medium-skytemple{ background-position: 0px 0px; }
.small-tombofthespiderqueen, .medium-tombofthespiderqueen{ background-position: -271px 0px; }
.small-towersofdoom, .medium-towersofdoom{ background-position: -406px 0px; }
.small-warheadjunction, .medium-warheadjunction{ background-position: -496px 0px; }

/* Vertical timeline adapted from: http://tympanus.net/codrops/2013/05/02/vertical-timeline/ */
.timeline {
  position: relative;
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;
} 

.timeline > li {
  position: relative;
}

/* The date */
.timeline > li .date {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 25px 0;
  font-size: 1.4em;
  text-align: left;
  color: #3498db;
}

/* Images on line */
.line-hero-img, .line-bg-img {
  position: relative;
  float: right;
  top: 0;
  left: auto;
  margin: -50px 5px 0 0;
}

.line-icon {
  position: relative;
  float: right;
  top: 0;
  left: auto;
  margin: -65px 5px 0 0;
  padding-left: 2px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 1.4em;
  color: #ffffff;
  background-color: #2c3e50;
}

.ranked-ring { 
  position: relative;
  float: right;
  top: 0;
  left: auto;
  background: url("//res.cloudinary.com/heroespatches/image/upload/v1481355437/ranked-ring.png") 0px 0px no-repeat; 
  background-size: 70px 70px; 
  height: 70px; 
  width: 70px; 
  margin: -72px 5px 0 0;
}

.ranked-ring h3 { 
  position: absolute; 
  top: 0;
  width: 100%;  
  text-align: center; 
  vertical-align: middle; 
  color: #fff; 
  text-shadow: rgba(0,0,0,.8) 0 0 16px; 
}

.second-img {
  right: 50px;
}

.third-img {
  right: 100px;
}

div.reworks a {
  display: inline-block;
}

/* Right content */
.timeline > li .detail {
  margin: 0 0 30px 0;
  position: relative;
}

.timeline > li .detail h3 { 
  margin-top: 10.5px;
}

/* The triangle */
.timeline > li .detail:after {
  position: absolute;
  left: 20px;
  content: " ";
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  border-bottom-color: #2c3e50;
  top: -20px;
  border-width: 10px;
}

.navbar {
  margin-bottom: 5px;
}

div.panel-heading>h3>a {
  color: #fff;
}
div.panel-heading>h3>a:hover {
  color: #18bc9c;
  text-decoration: none;
}
div.panel-heading>h3>a>i.fa-external-link {
  color: #18bc9c;
}

@media (min-width: 360px) {
  .medium-hero { 
    background-size: 60px 4234.565px; height: 60px; width: 60px; 
  }

  .medium-battleground { 
    background-size: 738.165px 60px; width: 60px; height: 60px; 
  }

  .medium-abathur{ background-position: 0px -196px; }
  .medium-alarak{ background-position: 0px -3652px; }
  .medium-anubarak{ background-position: 0px -65px; }
  .medium-artanis{ background-position: 0px -2674px; }
  .medium-arthas{ background-position: 0px -130px; }
  .medium-auriel{ background-position: 0px -3522px; }
  .medium-azmodan{ background-position: 0px -2087px; }
  .medium-brightwing{ background-position: 0px -2152px; }
  .medium-butcher{ background-position: 0px -2413px; }
  .medium-cassia{ background-position: 0px -4174px; }
  .medium-chen{ background-position: 0px -261px; }
  .medium-cho{ background-position: 0px -2804px; }
  .medium-chromie{ background-position: 0px -3326px; }
  .medium-dehaka{ background-position: 0px -3196px; }
  .medium-diablo{ background-position: 0px -326px; }
  .medium-etc{ background-position: 0px -783px; }
  .medium-falstad{ background-position: 0px -391px; }
  .medium-gall{ background-position: 0px -2870px; }
  .medium-gazlowe{ background-position: 0px -1304px; }
  .medium-greymane{ background-position: 0px -3000px; }
  .medium-guldan{ background-position: 0px -3457px; }
  .medium-illidan{ background-position: 0px -457px; }
  .medium-jaina{ background-position: 0px -522px; }
  .medium-johanna{ background-position: 0px -2348px; }
  .medium-kaelthas{ background-position: 0px -587px; }
  .medium-kerrigan{ background-position: 0px -652px; }
  .medium-kharazim{ background-position: 0px -2543px; }
  .medium-leoric{ background-position: 0px -2478px; }
  .medium-lili{ background-position: 0px -717px; }
  .medium-liming{ background-position: 0px -3065px; }
  .medium-ltmorales{ background-position: 0px -2739px; }
  .medium-lucio{ background-position: 0px -4043px; }
  .medium-lunara{ background-position: 0px -2935px; }
  .medium-malfurion{ background-position: 0px -1239px; }
  .medium-medivh{ background-position: 0px -3391px; }
  .medium-muradin{ background-position: 0px -848px; }
  .medium-murky{ background-position: 0px -913px; }
  .medium-nazeebo{ background-position: 0px -978px; }
  .medium-nova{ background-position: 0px -1043px; }
  .medium-probius{ background-position: 0px -4109px; }
  .medium-ragnaros{ background-position: 0px -3848px; }
  .medium-raynor{ background-position: 0px -1109px; }
  .medium-rehgar{ background-position: 0px -1174px; }
  .medium-rexxar{ background-position: 0px -2609px; }
  .medium-samuro{ background-position: 0px -3717px; }
  .medium-sgthammer{ background-position: 0px -1826px; }
  .medium-sonya{ background-position: 0px -1891px; }
  .medium-stitches{ background-position: 0px -1957px; }
  .medium-sylvanas{ background-position: 0px -2022px; }
  .medium-tassadar{ background-position: 0px -2217px; }
  .medium-thelostvikings{ background-position: 0px -0px; }
  .medium-thrall{ background-position: 0px -1761px; }
  .medium-tracer{ background-position: 0px -3261px; }
  .medium-tychus{ background-position: 0px -1370px; }
  .medium-tyrael{ background-position: 0px -1435px; }
  .medium-tyrande{ background-position: 0px -2283px; }
  .medium-uther{ background-position: 0px -1500px; }
  .medium-valeera{ background-position: 0px -3978px; }
  .medium-valla{ background-position: 0px -1565px; }
  .medium-varian{ background-position: 0px -3783px; }
  .medium-xul{ background-position: 0px -3130px; }
  .medium-zagara{ background-position: 0px -1630px; }
  .medium-zarya{ background-position: 0px -3587px; }
  .medium-zeratul{ background-position: 0px -1696px; }
  .medium-zuljin{ background-position: 0px -3913px; }
  .medium-battlefieldofeternity{ background-position: -431px 0px; }
  .medium-blackheartsbay{ background-position: -123px 0px; }
  .medium-braxisholdout{ background-position: -616px 0px; }
  .medium-cursedhollow{ background-position: -308px 0px; }
  .medium-dragonshire{ background-position: -184px 0px; }
  .medium-gardenofterror{ background-position: -62px 0px; }
  .medium-hauntedmines{ background-position: -246px 0px; }
  .medium-infernalshrines{ background-position: -493px 0px; }
  .medium-lostcavern{ background-position: -370px 0px; }
  .medium-skytemple{ background-position: 0px 0px; }
  .medium-tombofthespiderqueen{ background-position: -370px 0px; }
  .medium-towersofdoom{ background-position: -555px 0px; }
  .medium-warheadjunction{ background-position: -678px 0px; }

  .second-img {
    right: 65px;
  }

  .third-img {
    right: 130px;
  }

  .line-bg-img, .line-hero-img {
    margin: -74px 5px 0 0;
  }

  .ranked-ring {
    margin: -80px 5px 0 0;
  }
}

@media (min-width: 768px) {
  .timeline > li .date {
    font-size: 1.6em;
  }

  .line-icon, .line-bg-img, .line-hero-img {
    box-shadow: 0 0 0 8px #3498db;
  }

  .ranked-ring {
    margin: -80px 0 0 0;
  }

  .second-img {
    right: 81px;
  }

  .third-img {
    right: 162px;
  }

  .navbar {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  /* The line */
  .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #3498db;
    left: 15%;
    margin-left: -10px;
  }

  .timeline > li .date {
    position: absolute;
    width: 15%;
    padding-right: 50px;
    font-size: 1.1em;
    text-align: right;
  }

  .line-icon {
    position: absolute;
    left: 15%;
    margin: 0 0 0 -30px;
  }

  .line-bg-img, .line-hero-img {
    position: absolute;
    left: 15%;
    margin: 0 0 0 -35px;
  }

  .ranked-ring {
    position: absolute;
    left: 15%;
    margin: -10px 0 0 -40px;
  }

  .timeline > li .detail {
    margin: 0 0 15px 20%;
  }

  .second-img {
    top: 86px;
  }

  .third-img {
    top: 172px;
  }

  .navbar {
    margin-bottom: 21px;
  }

  .timeline > li .detail:after {
    right: 100%;
    top: 10px;
    left: auto;
    border-right-color: #2c3e50;
    border-bottom-color: transparent;
  }

  h1, article>p {
    padding-left: 3px;
  }
}

@media (min-width: 1200px) {
  .timeline > li .date {
    font-size: 1.3em;
  }  

  h1, article>p {
    padding-left: 17px;
  }
}

div.panel-body>ul>li>p { margin-bottom: 0; }