.thelostvikings { background-position: -7px -7px; }
.anubarak { background-position: -7px -66px; }
.arthas { background-position: -7px -125px; }
.abathur { background-position: -7px -184px; }
.chen { background-position: -7px -242px; }
.diablo { background-position: -7px -301px; }
.falstad { background-position: -7px -359px; }
.illidan { background-position: -7px -418px; }
.jaina { background-position: -7px -477px; }
.kaelthas { background-position: -7px -535px; }
.kerrigan { background-position: -7px -594px; }
.lili { background-position: -7px -653px; }
.etc { background-position: -7px -712px; }
.muradin { background-position: -7px -770px; }
.murky { background-position: -7px -829px; }
.nazeebo { background-position: -7px -888px; }
.nova { background-position: -7px -946px; }
.raynor { background-position: -7px -1005px; }
.rehgar { background-position: -7px -1064px; }
.malfurion { background-position: -7px -1122px; }
.gazlowe { background-position: -7px -1181px; }
.tychus { background-position: -7px -1240px; }
.tyrael { background-position: -7px -1298px; }
.uther { background-position: -7px -1357px; }
.valla { background-position: -7px -1416px; }
.zagara { background-position: -7px -1475px; }
.zeratul { background-position: -7px -1534px; }
.thrall { background-position: -7px -1592px; }
.sgthammer { background-position: -7px -1651px; }
.sonya { background-position: -7px -1709px; }
.stitches { background-position: -7px -1768px; }
.sylvanas { background-position: -7px -1827px; }
.azmodan { background-position: -7px -1885px; }
.brightwing { background-position: -7px -1943px; }
.tassadar { background-position: -7px -2002px; }
.tyrande { background-position: -7px -2061px; }
.johanna { background-position: -7px -2120px; }
.butcher { background-position: -7px -2178px; }
.leoric { background-position: -7px -2237px; }
.kharazim { background-position: -7px -2296px; }
.rexxar { background-position: -7px -2355px; }
.artanis { background-position: -7px -2414px; }
.ltmorales { background-position: -7px -2472px; }
.cho { background-position: -7px -2531px; }
.gall { background-position: -7px -2531px; }
.lunara { background-position: -7px -2590px; }
.greymane { background-position: -7px -2648px; }
.liming { background-position: -7px -2707px; }
.xul { background-position: -7px -2766px; }
.dehaka { background-position: -7px -2824px; }
.tracer { background-position: -7px -2883px; }
.chromie { background-position: -7px -2942px; }
.medivh { background-position: -7px -3001px; }




.skytemple { background-position: 0px 0px; }
.gardenofterror { background-position: -45px 0px; }
.blackheartsbay { background-position: -90px 0px; }
.dragonshire { background-position: -135px 0px; }
.hauntedmines { background-position: -181px 0px; }
.cursedhollow { background-position: -226px 0px; }
.tombofthespiderqueen { background-position: -271px 0px; }
.lostcavern { background-position: -271px 0px; }
.battlefieldofeternity { background-position: -316px 0px; }
.infernalshrines { background-position: -361px 0px; }
.towersofdoom { background-position: -406px 0px; }




